.display-card:hover {
    border-color: red;
}
.listing-btn {
    color:white;
    background-color: black;
    padding: 5px;
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.3s 0.3s ease;
}
.listing-btn:hover {
    transition: 0.5s ease;
    color: white;
    background-color: #790b0c;
    border-bottom: 5px solid #790b0c;
    border-right: 10px solid #790b0c;
}


.card-title {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.display-card-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    /* transition: background-color 0.5s 0.5s ease; */
    transition: all 0.5s 0.5s ease;
}
.display-card-paragraph:hover {
    color:white;
    background-color: #790b0c;
}

.list-card {
    color: white;
    background: rgba(0, 0, 0, 0.1);
}
.list-card {
    transition: all 0.1s 0.1s ease-in;
}
.list-card:hover {
    color: white;
    background-color: #790b0c;
}

.display-data-card {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    /* border: 1px solid #cccccc; */
    padding-top: 10px;
    width: 18rem;
    margin-left: 3rem;
    margin-top: 20px;
    
    transition: all 0.3s 0.3s ease;
}
.display-card-image {
    max-height: 250px;
    min-height: 250px;
  
}

@media screen and (max-width: 450px) {
    .display-data-card {
        width: 15rem;
    }
    .display-card-image {
        max-height: 100px;
    }
    .card-image-style {
        height: 100px;
        width: 100px;
    }
    .display-card-paragraph {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px;
        font-size: 12px;
        /* transition: background-color 0.5s 0.5s ease; */
        transition: all 0.5s 0.5s ease;
    }
    .listing-btn {
        color:white;
        background-color: black;
        padding: 5px;
        border: 2px solid white;
        border-radius: 25px;
        margin-left: 10px;
        margin-top: 10px;
        transition: all 0.3s 0.3s ease;
    }
}
.display-data-card:hover {
    background: rgba(0, 0, 0, 1.0);
    border: 10px solid black;
}
.new-card-container {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s 0.3s ease;
}
.new-card-container:hover {
    background-color: black;
    border: 10px solid black;
}


.card-image-style {
    height:250px;
    width:350px;
}

.main-comment-bar {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}
.item-comment {
    border: 2px solid white;
}
.comment-input {
    width: 100px;
    background: none;
    outline: none;
    transition: all 0.5s 0.5s ease-in;
}
.comment-input::placeholder {
    color: white;
}
.comment-input:focus {
    width: 200px;
    border-bottom: 2px solid white;
}
input:focus {
    color: white;
}