.display-card-container {
    border: 2px solid;
    max-width: 600px;
    max-height: 800px;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 500px;
}
.display-card-images {
    display: flex;
    justify-content: center;
}