

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Great+Vibes&family=Kdam+Thmor+Pro&family=Roboto:wght@100&family=Spectral&family=Tangerine:wght@700&display=swap');


.main-intro {
    font-family: 'Kdam Thmor Pro', sans-serif;
   
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding:50px;
    margin-right: 400px;
    transition: all 0.5s 0.5s ease;
}
.main-intro-text {
    font-size: 48px;
}
.main-bg-intro-text-container {
    padding:200px;
}
.about-header {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 32px;
}
.about-para {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 24px;
}
@media screen and (max-width: 450px) {
    .main-intro {
        font-family: 'Kdam Thmor Pro', sans-serif;
   
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding:20px;
        margin-right: 0px;
        transition: all 0.5s 0.5s ease;
    }
    .main-bg {
        background-image: url();
    }
    .main-intro-text {
        font-size: 14px;
    }
    .main-bg-intro-text-container {
        padding: 100px;
    }
    .about-header {
        
        font-size: 18px;
    }
    .about-para {
        
        font-size: 10px;
    }

}
.main-intro:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.join-btn {
    color:white;
    border:none;
    padding:20px;
    background-color: black;
    border-radius: 50px;
    transition: all 0.5s 0.5s ease;
}
.join-btn:hover {
    background-color: #790b0c;
    
}

/* .main-bg {
    background-image: url("watchbackground.PNG");
} */
.btn-field {
    padding-top: 32px;
    font-weight: bolder;
    font-size: 30px;
    margin-right: 20px;
}
.btn-login{
    color: white;
    padding:15px;
    background-color: #790b0c;
    margin-right: 20px;
    border: 3px solid;
    transition: all 0.5s 0.5s ease;
}
.btn-view {
    padding:15px;
    color: white;
    opacity: 0;
    background-color: #790b0c;
    margin-right: 20px;
    border: 3px solid;
    transition: all 0.5s 0.5s ease;
}
.btn-create-post {
    padding:15px;
    color:white;
    background-color: #790b0c;
    margin-right: 20px;
    border: 3px solid;
    transition: all 0.5s 0.5s ease;
}
.btn-login:hover {
    font-size: 35px;
    background-color: white;
    color: #790b0c;
}
.btn-view:hover {
    font-size: 35px;
    background-color: white;
    color: #790b0c;
}
.btn-create-post:hover {
    font-size: 35px;
    background-color: white;
    color: #790b0c;
}
.header-card {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    transition: all 0.3s 0.3s ease-in;
}
.header-card:hover {
    background-color: black;
}
.layout-card {
    padding:20px;
}

.video-about {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    left: 0;
}
.video-wrapper {
    padding: 0px;
    height: 200px;
    overflow: hidden;
}
.video-header {
    position: absolute;
    object-fit: cover;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;

}
.main-video-wrapper {

    margin-top: 0px;
  
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header {
    border-radius: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 100px;
    margin-top: 250px;
    margin-right: 100px;
    margin-left: 100px;
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
    transition: all 0.5s 0.5s ease-in;
}
.header:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.header-info {
    font-size: 32px;
}
.header-title {
    font-size: 58px;
}
.header-btn {
    border: 2px solid white;
    color: white;
    background: none;
    margin-top: 20px;
    padding: 10px;
    transition: all 0.3s 0.3s ease-in;
}
.header-btn:hover {
    background-color: white;
    color: black;
}
@media screen and (max-width: 450px) {
    .header-info {
        font-size: 18px;
    }
    .header-title {
        font-size: 24px;
    }
    .header {
        border-radius: 25px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 100px;
        margin-top: 250px;
        margin-right: 0px;
        margin-left: 0px;
        position: relative;
        color: white;
        text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
        transition: all 0.5s 0.5s ease-in;
    }
}
@media screen and (max-width: 1000px) {
    .main-bg-intro-text-container {
        padding:50px;
    }
    .header {
        border-radius: 25px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 100px;
        margin-top: 250px;
        margin-right: 0px;
        margin-left: 0px;
        position: relative;
        color: white;
        text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
        transition: all 0.5s 0.5s ease-in;
    }
}
@media screen and (max-width: 1500px) {
    .main-bg-intro-text-container {
        padding:150px;
    }
    .header {
        border-radius: 25px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 100px;
        margin-top: 250px;
        margin-right: 0px;
        margin-left: 0px;
        position: relative;
        color: white;
        text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
        transition: all 0.5s 0.5s ease-in;
    }
}
@media screen and (max-width: 800px) {
    .main-bg-intro-text-container {
        padding:50px;
    }
    .header {
        border-radius: 25px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 100px;
        margin-top: 250px;
        margin-right: 0px;
        margin-left: 0px;
        position: relative;
        color: white;
        text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
        transition: all 0.5s 0.5s ease-in;
    }
}