@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Great+Vibes&family=Roboto:wght@100&family=Tangerine:wght@700&display=swap');
.hero {
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 200px;
    background-color: #790b0c;
    align-items: center;
    text-align: center;
}
.btn-field {
    padding-top: 32px;
    font-weight: bolder;
    font-size: 30px;
    margin-right: 20px;
}
.btn-login{
    color: white;
    padding:15px;
    background-color: #790b0c;
    margin-right: 20px;
    border: 3px solid;
    transition: all 0.5s 0.5s ease;
}
.btn-view {
    padding:15px;
    color: white;
    background-color: #790b0c;
    margin-right: 20px;
    border: 3px solid;
    transition: all 0.5s 0.5s ease;
}
.btn-create-post {
    padding:15px;
    color:white;
    background-color: #790b0c;
    margin-right: 20px;
    border: 3px solid;
    transition: all 0.5s 0.5s ease;
}
.btn-login:hover {
    font-size: 35px;
    background-color: white;
    color: #790b0c;
}
.btn-view:hover {
    font-size: 35px;
    background-color: white;
    color: #790b0c;
}
.btn-create-post:hover {
    font-size: 35px;
    background-color: white;
    color: #790b0c;
}


h1 {
    font-family: 'Cinzel', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tangerine', cursive;
    font-size: 133px;
    font-weight: bold;
}
h1:hover {
    transition: 0.5s;
    color:black;
}
h6 {
    font-size: 24px;
    font-weight: bold;
}
h6:hover {
    transition: 0.5s;
    color:black;
}

.about {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-bottom: 200px;
    color: #808080;
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
}