.nav {
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color:black;
  
  transition: all 0.5s 0.5s ease-in;
}
.nav:hover {
  border-bottom: 3px solid #790b0c;
}
@media screen and (max-width: 450px) {
  .btn-navbar {
    margin-right: 0px;
    padding: 0px;
    font-size: 10px;
  }
}
.btn-navbar {
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  margin-right: 30px; 
  transition: all 0.3s 0.3s ease;
}
.btn-navbar:hover {
  border-bottom: 5px solid #790b0c;
  font-size: 20px;
}



