.login-container {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.bg-image {
    /* background-image: url('./login_bg.png'); */

}
img {
    width: 950px;
    height: 1000px;
    object-fit: fill;
}
.google-title {
    
    font-size: 34px;
}
.google-login {
    color: white;
    margin-top: 50px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    margin-right: 200px;
}
.google-button {
    padding: 10px;
    color: white;
    background: none;
    border: 2px solid white;
    margin-top: 20px;
    border-radius: 25px;
    transition: all 0.3s 0.3s ease-in;
}
.google-button:hover {
    background-color: black;
    border-color: black;
}
.existing-user-login {
    color: white;
    margin-top: 50px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    margin-right: 200px;
}
.existing-header {
    font-size: 34px;
}
.existing-input {
    color: white;
    background: none;
    border-bottom: 2px solid white;
}
.existing-input:focus {
    outline: none;
}
.existing-input::placeholder {
    color: white;
}
.existing-input:focus::placeholder {
    color: transparent;
}
.existing-btn {
    border: 2px solid white;
    color: white;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background: none;
    transition: all 0.3s 0.3s ease-in;
}
.existing-btn:hover {
    background-color: black;
    border: 2px solid black;
}
@media screen and (max-width: 450px) {
    .google-login {
        margin-right: 0px;
    }
    .existing-user-login {
        margin-right: 0px;
    }
    .google-title {
        font-size: 15px;
    }
    .existing-header {
        font-size: 15px;
    }
    .google-button {
        border-radius: 0px;
        padding: 5px;
        font-size: 10px;
    }
    .existing-btn {
        padding: 0px;
        width: 50px;
    }
    .existing-input {
        font-size: 10px;
        width: 100px;
    }
}


input {
    margin-top: 30px;
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding:12px;
    border-radius: 3px;
    width:250px;
    
}


input:focus::placeholder {
    color: transparent;
}
input:focus {
    color: #790b0c;
    outline-color: #790b0c;;
}
input::placeholder {
    color:#222;
    transition: color 0.3s ease;
}
