
.bg-image {
    background-image: url('./login_background.PNG');
    padding: 178px;
}
@media screen and (max-width: 450px) {
    .login-page {
        padding: 0px;
        display: flex;
        justify-content: flex-start;
    }
    .google-login {
        padding: 0px;
        margin-right: 0px;
    }
    .google-login-title {
        font-size: 9px;
    }
}
.login-page {
    display: flex;
    justify-content: center;
    padding:100px;
}
.login-container {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
  
    border-radius: 10px;
}

input {
    margin-top: 30px;
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding:12px;
    border-radius: 3px;
    width:250px;
    
}


input:focus::placeholder {
    color: transparent;
}
input:focus {
    color: #790b0c;
    outline-color: #790b0c;;
}
input::placeholder {
    color:#222;
    transition: color 0.3s ease;
}

.google-login-title {
    font-size: 24px;
}
.google-login {
    color: white;
    padding: 50px;
    margin-right: 25vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7%;
    transition: all 0.5s 0.5s ease-in-out;
}
.google-login:hover {
    border-right: 30px solid;
    border-top: 15px solid;
    border-color: rgba(0, 0, 0, 0.5);
}
.google-button {
    color:white;
    background-color: black;
    padding: 10px;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 25px;
    margin-left: 10px;
    transition: all 0.3s 0.3s ease;
}
.google-button:hover {    
    transition: 0.5s ease;
    color: white;
    background-color: #790b0c;
    border-bottom: 5px solid #790b0c;
    border-right: 10px solid #790b0c;
}