.create-account-container {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-image: url('./ca_bg.PNG');
    display: flex;
    justify-content: center;
    padding: 150px;
    padding-bottom: 300px;
}
.user-inputs-container {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    padding: 100px;
    border-radius: 20px;

}


.create-account-button {
    padding:5px;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
}
.create-account-button:hover {
    transition: 0.5s ease;
    background-color: #790b0c;
    color: white;
}
.create-account-header{
    font-size: 24px;
    color: white;
}
